{% extends "head.html" %}
  
  {% block content %}
    <div class="container">
      <div class="jumbotron">
        <h2>Product :</h2>
        <a href="#">Add Product</a>
        <hr />
        <table class='table table-striped'>
          <tr>
	          <th>Product Name</th>
	          <th>Supplier Name</th>
	          <th>Type</th>
	          <th>Unit Cost</th>
	          <th>Price</th>
	      </tr>
	      {% for p in productList %}
	      <tr>
	      	<td>{{ p.name }}</td>
	      	<td>{{ p.supplier.name }}</td>
	      	<td>{{ p.type }}</td>
	      	<td>{{ p.U_C }}</td>
	      	<td>{{ p.price }}</td>
	      </tr>
	      {% endfor %}
        </table>
        <hr />
        
      </div>
    </div> 
  {% endblock content %}